<div>
  <h1>Кластерный анализ текста</h1>
    <span>
       <span>
        <div>Термины для анализа (разделитель пробел)</div>
        <textarea class="textarea-big" [(ngModel)]="termins"></textarea>
      </span>
      <span>
        <div>Текст для анализа</div>
        <textarea class="textarea-big" [(ngModel)]="text"></textarea>
      </span>
      <span>
        <div>Результат: </div>
         <textarea class="textarea-big" [(ngModel)]="analyzeResult"></textarea>
      </span>
      </span>
</div>
<button style="font-size: 24px;" (click)="clusterizeText()">Анализ текста</button>
