<div>
  <mat-tab-group>
    <mat-tab label="Статиcтический">
      <app-statistic></app-statistic>
    </mat-tab>
    <mat-tab label="Морфологический">
      <app-morphology></app-morphology>
    </mat-tab>
    <mat-tab label="Кластерный">
      <app-cluster></app-cluster>
    </mat-tab>
  </mat-tab-group>
</div>
