<div>
  <div>
    <h1>Расчет частотности</h1>
    <span>
      <span>
        <div>Текст для анализа</div>
        <textarea class="textarea-big" [(ngModel)]="analyzeText"></textarea>
      </span>
      <span>
        <div>Результат: </div>
         <textarea class="textarea-big" [(ngModel)]="freqResult"></textarea>
      </span>
      </span>
  </div>
  <button style="font-size: 24px;" (click)="getFrequency()">Рассчитать</button>
</div>
<div>
  <div>
     <span>
      <h1>Mutual Information</h1>
    </span>
    <span>
      <span>
        <div>Текст для анализа</div>
        <textarea class="textarea-big" [(ngModel)]="mutualInformationText"></textarea>
      </span>
      <span>
        <div>Результат: </div>
         <textarea class="textarea-big" [(ngModel)]="mutualInformationResult"></textarea>
      </span>
      </span>
  </div>
  <button style="font-size: 24px;" (click)="getMutualInformation()">Рассчитать</button>
</div>
<div>
  <div>
    <h1>T Score</h1>
    <span>
      <span>
        <div>Текст для анализа</div>
        <textarea class="textarea-big" [(ngModel)]="tScoreText"></textarea>
      </span>
      <span>
        <div>Результат: </div>
         <textarea class="textarea-big" [(ngModel)]="tScoreResult"></textarea>
      </span>
      </span>
  </div>
  <button style="font-size: 24px;" (click)="getTScore()">Рассчитать</button>
</div>
<div>
  <div>
    <h1>LogLike</h1>
    <span>
      <span>
        <div>Текст для анализа</div>
        <textarea class="textarea-big" [(ngModel)]="logLikeText"></textarea>
      </span>
      <span>
        <div>Результат: </div>
         <textarea class="textarea-big" [(ngModel)]="logLikeResult"></textarea>
      </span>
      </span>
  </div>
  <button style="font-size: 24px;" (click)="getLogLike()">Рассчитать</button>
</div>
<div>
  <div>
    <h1>TfIdfScore</h1>
    <span>
      <span>
        <div>Текст для анализа</div>
        <textarea class="textarea-big" [(ngModel)]="tfIdfText"></textarea>
      </span>
        <span>
        <div>Корпусы языка</div>
        <textarea class="textarea-big" [(ngModel)]="tfIdfCorpus"></textarea>
          <div style = "padding: 30px">
          <button style="font-size: 24px;" (click)="addCorpus()">Добавить корпус</button>
          <button style="font-size: 24px; margin-left: 100px" (click)="cleanCorpus()">Очистить корпусы</button>
          </div>
      </span>
      <span>
        <div>Результат: </div>
         <textarea class="textarea-big" [(ngModel)]="tfIdfResult"></textarea>
      </span>
      </span>
  </div>
  <button style="font-size: 24px;" (click)="getTfIfd()">Рассчитать</button>
</div>
