<div>
  <h1>Морфологический анализ текста</h1>
    <span>
      <span>
        <div>Текст для анализа</div>
        <textarea class="textarea-big" [(ngModel)]="text"></textarea>
      </span>
      <span>
        <div>Результат: </div>
         <textarea class="textarea-big" [(ngModel)]="analyzeResult"></textarea>
      </span>
      </span>
</div>
<button style="font-size: 24px;" (click)="analyzeText()">Анализ текста</button>
